.portfolio {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.portfolio .projectTitle {
    text-align: center;
    color: #3e497a;
    font-size: 60px;
    font-weight: bolder;
}
.portfolioList {
    width: '1';
    /* height: 500px; */
    background-color: 'pink';
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

/* menu item styling */